.single-slide-product{
    margin-bottom: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif;

}
.font-12{
    font-size: 12px;
}